<div class="tree-node-wrapper" *ngFor="let item of treeData; index as i">
  <div class="tree-node-container">
    <!-- Node name  -->
    <mat-icon
      class="node-icon"
      svgIcon="{{ item.type | iconSelect }}"
    ></mat-icon>
    <div class="tree-node" *ngIf="this.requiredFileTypes.includes(item.type)">
      <span>{{ item.name }}</span>
    </div>
    <!-- if the item type is not set to folder or file Ask the user for the node type -->
    <div *ngIf="!this.requiredFileTypes.includes(item.type)">
      <button (click)="setChildType(item, 'file')">File</button>
      <button (click)="setChildType(item, 'folder')">Folder</button>
    </div>
    <!-- Node action to create and delete the current node. Action visible on hover -->

    <!-- Node labeling to add the name for the node. can save the name or cancel the process -->
    <div
      class="tree-node-labeling"
      *ngIf="!item.name && this.requiredFileTypes.includes(item.type)"
    >
      <!-- Node Name input -->
      <input autofocus [(ngModel)]="this.name" type="text" />
      <!-- Confirm name -->
      <mat-icon (click)="saveName(item)" aria-label="Example home icon"
        >check</mat-icon
      >
      <!-- Cancel naming -->
      <mat-icon (click)="removeNode(treeData, i)" aria-label="Example home icon"
        >cancel</mat-icon
      >
    </div>
    <!-- Actions to add new child and remove the selected node along with its children -->
    <span class="tree-node-actions"
      ><mat-icon
        *ngIf="item.name && this.subTreeableFileTypes.includes(item.type)"
        (click)="createChild(item)"
        >add_circle</mat-icon
      >
      <mat-icon
        *ngIf="item.name && this.deletableFileTypes.includes(item.type)"
        (click)="deleteChild(item, i)"
        >delete</mat-icon
      ></span
    >
  </div>
  <!-- If node has children, Display it as subtree  -->
  <div class="tree-node-subtree">
    <app-tree-node
      *ngIf="!!item.name"
      [treeData]="item.children"
      (removeChildEvent)="removeChild(item, $event)"
      (addChildEvent)="addChild($event)"
    >
    </app-tree-node>
  </div>
</div>
