.page-content-wrapper {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 100px;
}
.app-button {
  background-color: #000000;
  color: #ffffff;
  margin: 10px;
}
